section.best-sellers {
    padding-top: 80px;
}

section.best-sellers h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.best-sellers hr {
    border: none;
    border-top: 5px solid #67f11d;
    width: 66px;
}

section.best-sellers .product-slider {
    margin-top: 76px;
}

section.best-sellers .container {
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

section.best-sellers .product-slider .product {
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 33%;
    text-align: center;
    margin: 0 8px;
    padding: 40px;
}

section.best-sellers .product-slider .product .product-info {
    margin-top: 50px;
}

section.best-sellers .product-slider .product .product-info .categories {
    color: #3e50e5;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 30px;
}
