section.best-sellers {
    padding-top: 80px;
}

section.best-sellers h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.best-sellers hr {
    border: none;
    border-top: 5px solid #67f11d;
    width: 66px;
}

section.best-sellers .product-slider {
    background-color: yellow;
}